<div class="row">
  <div class="col-xs-12 col-sm-offset-3 col-sm-6">
    <%= simple_form_for(@auction, html: {class: "form-horizontal"}) do |f| %>
      <%= f.input :title %>
      <%= f.input :details %>
      <%= f.input :end_date %>
      <%= f.input :reserve_price %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
