<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <%= simple_form_for(@user, html: {class: "form-horizontal"}) do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <p>To save updates, please enter your current password.</p>
      <%= f.input :cuurent_password %>
      <p>Change Password</p>
      <%= f.input :password, "New Password" %>
      <%= f.input :password_confirmation, "Confirm New Password" %>
      <%= f.submit "Create Account" %>
    <% end %>
  </div>
</div>
